    
    <%= render 'layouts/shared/nav' %>
    <div id="page-wrapper" class="printArea">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Claim Preview</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a href="#"><%=@claim.insurer.company_name%></a></li>
                            <li class="active">Claim Summary</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3><b>CLAIM NO</b> <span class="pull-right">#<%= @claim.claim_no%></span></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address>
                                            <h3> &nbsp;<b class="text-danger"><%=@claim.provider.company_name%></b></h3>
                                            <p class="text-muted m-l-5 break-word" style="width:160px; word-wrap:break-word;"><%=@claim.provider.address%></p>
                                            <span class="text-muted"><i class="fa fa-phone"></i> - <%=@claim.provider.phone%></span>
                                        </address>

                                        <br/>
                                        <h5><b class="text-success">Member/Enrolee No: </b> <b><%=@claim.member_number%></b></h5> <br/>
                                         <h5><b class="text-success">Authorization Code: </b> <b><%=@claim.authorization_number%></b></h5>
                                    </div>
                                    <div class="pull-right text-right">
                                        <address>
                                            <h3>To,</h3>
                                            <h4 class="font-bold"><%=@claim.insurer.company_name%></h4>
                                            <p class="text-muted m-l-30" style="width:160px; word-wrap:break-word;"><%=@claim.insurer.address%>, <br/> <i class="fa fa-phone"></i> - <%=@claim.insurer.phone%></p>
                                            

                                            <p class="m-t-30"><b>Claim Date :</b> <i class="fa fa-calendar"></i> <%=@claim.created_at.to_formatted_s(:long) %></p>
                                            <p><b>Due Date :</b> <i class="fa fa-calendar"></i> <%=(@claim.created_at + (2*7*24*60*60)).to_formatted_s(:long)%></p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Item Type</th>
                                                    <th>Item Name</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Charges</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% counter = 1 %>
                                            <% @claim.services.each do |service| %>
                                                <tr>
                                                    <td class="text-center"><%=counter%></td>
                                                    <td><%=service.service_type%></td>
                                                    <td><%=service.name%></td>
                                                    <td class="text-right"><%=service.qty%></td>
                                                    <td class="text-right">₦<%=service.cost%></td>
                                                    <td class="text-right">₦<%=total_cost(service)%></td>
                                                </tr>
                                                <% counter +=1 %>
                                              <% end %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <br/><br/>
                                    <div class="pull-left">
                                    <code><b>More Details</b></code>
                                    <code> <%=@claim.description%></code>

                                    <hr/>
                                    <% if @claim.attachments.any? %>
                                        <span class="pull-left badge badge-info" style="background-color: #737979;">  <i class="fa fa-file"> </i> <i><%=pluralize(@attachment_count, "file")%> Attached </i></span>
                                    <% else %>
                                     <span class="pull-left badge"> - No Files Attached </span>
                                     <% end %>


                                    </div>
                                    <div class="pull-right m-t-30 text-right">
                                        <p>Sub - Total amount: <%=total_claim_cost(@claim)%></p>
                                        <p>vat (%) : ₦0.0 </p>
                                        <hr>
                                        <h3><b>Total :</b>₦ <%=total_claim_cost(@claim)%> </h3> </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <span class="pull-left">
                                        Authorized By: <b><%= @claim.authority_name%></b>,
                                        <i><%=@claim.authority_designation%></i>
                                    </span>

                                    <div class="text-right">
                                        <a href="<%=submit_insurer_claim_path(id: @claim.id)%>" class="btn btn-danger" type="submit" data-confirm="Are you sure? once you submit this claim, you won't be able to edit it again." data-disable-with="Preparing claim for submission . . ."> Submit Claim </a>
                                        <button onClick="javascript:window.print();" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <!-- /.row -->
                <!-- .right-sidebar -->
               
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; HIISafrica </footer>
        </div>
        <!-- /#page-wrapper -->


