    
    <%= render 'layouts/shared/nav' %>

    <div id="page-wrapper" class="printArea">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Claim Preview</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a href="#"><%=@claim.provider.company_name%></a></li>
                            <li class="active">Claim Summary</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                          <!-- check if claim is still in pending state. if not display status message -->
                            <% if @claim.status == 1 %>
                                        <div class="alert alert-info alert-dismissible"> This claim was submitted for Approval on <b><%=@claim.created_at.strftime('%F')%></b>.</div>
                                    <% elsif @claim.status == 2%>
                                         <div class="alert alert-success alert-dismissible"> This claim has been Approved</div>
                                      <% elsif @claim.status == 3%>
                                         <div class="alert alert-warning alert-dismissible"> This claim has been Rejected. Kindly see reason below:</div>
                                  
                                      <% else %>

                                      <div class="alert alert-info">This claim has no trackable status. kindly notify IT helpdesk.</div>
                                    

                           <% end %>

                            <h3><b>CLAIM NO</b> <span class="pull-right">#<%= @claim.claim_no%></span></h3>
                          
                          
                        
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address>
                                            <h3> &nbsp;<b class="text-danger"><%=@claim.provider.company_name%></b></h3>
                                            <p class="text-muted m-l-5 break-word" style="width:160px; word-wrap:break-word;"><%=@claim.provider.address%></p>
                                              <span class="text-muted"><i class="fa fa-phone"></i> - <%=@claim.provider.phone%></span>
                                        </address>

                                        <br/>
                                        <h5><b class="text-success">Patient/Member No: </b> <b><%=@claim.member_number%></b></h5> <br/>
                                         <h5><b class="text-success">Authorization Code: </b> <b><%=@claim.authorization_number%></b></h5>
                                    </div>
                                    <div class="pull-right text-right">
                                        <address>
                                            <h3>To,</h3>
                                            <h4 class="font-bold"><%=@claim.insurer.company_name%></h4>
                                             <p class="text-muted m-l-30" style="width:160px; word-wrap:break-word;"><%=@claim.insurer.address%>, <br/> <i class="fa fa-phone"></i> - <%=@claim.insurer.phone%></p>
                                             
                                            <p class="m-t-30"><b>Claim Date :</b> <i class="fa fa-calendar"></i> <%=@claim.created_at.to_formatted_s(:long) %></p>
                                            <p><b>Due Date :</b> <i class="fa fa-calendar"></i> <%=(@claim.created_at + (2*7*24*60*60)).to_formatted_s(:long)%></p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Item Type</th>
                                                    <th>Item Name</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Charges</th>

                                                    <th class="text-right">Requested Total</th>

                                                    <% if @claim.authorized_amount > 1 %>
                                                     <th class="text-right">Vetted Total </th>
                                                     <% end %>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% counter = 1 %>
                                            <% @claim.services.each do |service| %>
                                                <tr>
                                                    <td class="text-center"><%=counter%></td>
                                                    <td><%=service.service_type%></td>
                                                    <td><%=service.name%></td>
                                                    <td class="text-right"><%=service.qty%></td>
                                                    <td class="text-right">₦<%=service.cost%></td>
                                                    <td class="text-right">₦<%=total_cost(service)%></td>
                                                      <% if @claim.authorized_amount > 1 %>
                                                        <td class="text-right">₦ <%=service.vetted_cost%></td>
                                                     <% end %>
                                                </tr>
                                                <% counter +=1 %>
                                              <% end %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <br/><br/>
                                    <div class="pull-left">
                                    <code><b>More Details</b></code>
                                    <code> <%=@claim.description%></code>

                                      <hr/>
                                    <% if @claim.attachments.any? %>
                                        <span class="pull-left badge badge-info" style="background-color: #737979;">  <i class="fa fa-file"> </i> <i><%=pluralize(@attachment_count, "file")%> Attached </i></span>
                                        <br/>
                                        <% if @claim.attachments.any? %>
                                        <% counter = 1 %>
                                          <% @claim.attachments.each do |attachment| %>
                                          <a href="<%=attachment.url%>" target="_blank"><i class="fa fa-download"> Download Doc<%=counter%> </i> </a>
                                          <% counter += 1 %>
                                          <% end %>
                                        <% end %>
                                    <% else %>
                                     <span class="pull-left badge"> - No Files Attached </span>
                                     <% end %>


                                    </div>
                                    <div class="pull-right m-t-30 text-right">
                                        <p>Sub - Total Request amount: <%=total_claim_cost(@claim)%></p>
                                        <p>vat (%) : ₦0.0 </p>
                                        <hr>
                                        
                                          <% if @claim.authorized_amount > 1 %>
                                             <h3><b>Vetted Total:</b>₦ <%=@claim.authorized_amount%></h3>
                                            <% else %>
                                             <h3><b>Requested Total:</b>₦ <%=total_claim_cost(@claim)%></h3>

                                            <% end %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="text-right">
                                    <% if @claim.status == 1 %>
                                     
                                        <span class="buttons">
                                             <!-- <a href="#" class="btn btn-success btn-md pull-left" type="submit" data-confirm="Are you sure? This claim will be automatically vetted and you will see a preview screen for confirmation after this process is completed"> <i class="fa fa-gear"></i>Auto-Vet This Claim </a> -->
                                        
                                             <a href="#" class="btn btn-danger btn-lg pull-right" type="submit" ><i class="fa fa-hand" data-disable-with="Please wait ..."></i> Reject This Claim </a>
                                            
                                            <a href="<%=vet_insurer_claim_path(claim_id: @claim.id)%>" class="btn btn-info btn-lg pull-right" type="submit" data-disable-with="Preparing claim ..." ><i class="fa fa-arrow"></i> Proceed To Vet >> </a>
                                        </span>
                                   
                                    <% elsif @claim.status == 2%>
                                         <div class="alert alert-success alert-dismissible"> This claim has been Approved</div>
                                      <% elsif @claim.status == 3%>
                                         <div class="alert alert-warning"> This claim has been Rejected. Kindly see reason below:</div>
                                        
                                         <h5><b><i class="fa fa-information"></i>Reason this claim was rejected </b></h5>
                                          <code> <%=@claim.reject_reason%></code>
                                      <% else %>

                                    <% end %>
                                        
                                    </div>


                                    <% if @claim.authorized_amount > 1 %>

                                             <a href="<%=invoice_generation_insurer_claim_path%>" class="btn btn-info btn-outline"><i class="fa fa-view"></i>View Payment Invoice </a>

                                    <% end %>

                                    <button onClick="javascript:window.print();" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- .row -->
                <!-- /.row -->
                <!-- .right-sidebar -->
               
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; HIISafrica </footer>
        </div>
        <!-- /#page-wrapper -->


