<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :service_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :service_cost %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, id: :service_qty %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description %>
  </div>

  <div class="field">
    <%= form.label :claim.references %>
    <%= form.text_field :claim.references, id: :service_claim.references %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
