<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @service.cost %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @service.qty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Claim.references:</strong>
  <%= @service.claim.references %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
