

<%= form_with(model: claim, url: provider_claims_path, local: true, class: 'form-material form-horizontal') do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
          <div class="row">     
          <div class="col-md-6">
                                    <label class="col-md-12 form-control" for="insurer_id"> Health Insurer
                                    </label>
                                      <div class="col-md-12">

                                       <%=form.select :insurer_id, options_for_select(Insurer.all.collect {|i| [ i.company_name, i.id ] }, Insurer.first.id), {}, {id: 'claim_insurer_id', class: 'form-control'} %>

                                    </div>
            </div>

            <div class="col-md-6">
              <label class="form-control" for="bdate">Date</span>
                                    </label>
                                    <div class="form-control">
                                      <%= form.text_field :date, class: 'form-control mydatepicker' %>
                                    </div>
            </div>
            
     </div>
     </div>



    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                                                <label class="col-md-12" for="member_code">Patient Policy Number
                                                </label>
                                                <div class="col-md-12">

                                                  <% if @enrolee.nil? %>
                                                      <%= form.text_field :member_number, id: :claim_member_number, class: 'form-control', placeholder: 'Enter Patient Insurance Code e.g. MNL/2018/OAK/0001' %>

                                                    <% else %>

                                                       <%= form.text_field :member_number, id: :claim_member_number, class: 'form-control', value: @enrolee.enrolee_number %>
                                                    <% end %>


                                                </div>
                </div>

                <div class="form-group">
                                                <label class="col-md-12" for="member_code"> Authorization Code
                                                </label>  <i class="fa fa-check"> (optional)</i>
                                                <div class="col-md-12">
                                                <%= form.text_field :authorization_number, class: 'form-control', placeholder: 'Enter Request Authorization Code if applicable' %>
                                                </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                                                    <label class="col-md-12" for="member_name">Member FullName
                                                    </label>
                                                    <div class="col-md-12">

                                                    <% if @enrolee.nil?  %>
                                                      <%= form.text_field :member_name, id: :claim_member_name, class: 'form-control', placeholder: 'Enter Member Name e.g. JOHN DOE'
                                                       %>

                                                    <% else %>

                                                     <%= form.text_field :member_name, id: :claim_member_name, class: 'form-control', value: "#{@enrolee.surname} #{@enrolee.firstname}"
                                                       %>


                                                    <% end %> 

                                                    </div>
                    </div>
            </div>
    </div>

  


<br/>
                               


    <div class="form-group">
                  <div class="row">
                      <div class="col-md-6">
                                        <label class="form-control" for="authority_name"> Facility Authority Name
                                        </label>
                                        <div class="form-control">
                                        <%= form.text_field :authority_name, id: :claim_authority_name, class: 'form-control', placeholder: 'Dr. Mike Gabby'%>
                                        </div>
                        </div>

                      <div class="col-md-6">
                                        <label class="form-control" for="authority_designation">Designation
                                        </label>
                                        <div class="form-control">
                                        <%= form.text_field :authority_designation, id: :claim_authority_designation, class: 'form-control', placeholder:'Designation e.g. Managing Director(MD)' %>
                                        </div>
                      </div>
                  </div>


     </div>






        <br/><hr/>
        <div class="row">
            <div class="col-md-6">
        
                <button type="submit" class="btn btn-inverse btn-lg waves-effect waves-light">Cancel</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn  btn-lg btn-info btn-block waves-effect waves-light m-r-10" data-disable-with="Processing ...">Continue to Next Step >></button>
            </div>
      </div>
 
<% end %>



               